:root {
  --cjk-sans: "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Droid Sans Fallback";
  --sys-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial;
  --text-hex: #3D3634;
}

body {
  color: var(--text-hex);
  background-color: #F8F7F6;
  font: 18px/1.42 var(--sys-sans), var(--cjk-sans), sans-serif;
}

/* typography */
p > code {
  background: rgba(0, 0, 0, .05);
  border-radius: 2px;
  padding: 3px 5px;
}
a {
  color: rgba(0, 0, 0, 0.84);
  text-rendering: optimizeLegibility;
}
a:hover {
  color: rgb(var(--rgb-primary));
  text-decoration: underline;
}

.site {
  margin-bottom: 60px;
}
.site_head {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.site_logo {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.site_logo:hover {
  color: inherit;
  text-decoration: none;
}
.site_logo img {
  height: 36px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
}
.site_nav {
  display: flex;
  align-items: center;
}
.site_search {
  margin-left: 20px;
}
.site_nav > label {
  display: none;
}
.site_nav > input {
  position: absolute;
  top: -100px;
  opacity: 0;
}
.site_nav a {
  color: var(--text-hex);
  font-size: 14px;
  opacity: 0.86;
  text-decoration: none;
  white-space: nowrap;
}
.site_nav nav > a:hover {
  text-decoration: underline;
}
.site_nav a + a {
  margin-left: 20px;
}

.site_cover {
  display: flex;
  justify-content: center;
}
.site_cover img {
  max-width: 1080px;
  width: 100%;
}

.site_podcasts {
  padding: 40px 40px 0;
  text-align: center;
}

.site_podcasts a {
  font-size: 24px;
  text-decoration: none;
  margin: 0 10px;
}

.site_podcasts .icon {
  color: var(--text-hex);
  transition: color .2s ease;
}
.site_podcasts a:hover .icon-podcast {
  color: #9933CC;
}
.site_podcasts a:hover .icon-castro {
  color: #00B265;
}
.site_podcasts a:hover .icon-breaker {
  color: #003DAD;
}
.site_podcasts a:hover .icon-google {
  color: #4285F4;
}
.site_podcasts a:hover .icon-overcast {
  color: #FC7E0F;
}
.site_podcasts a:hover .icon-pcast {
  color: #F43E37;
}
.site_podcasts a:hover .icon-spotify {
  color: #1DB954;
}
.site_podcasts a:hover .icon-xiaoyuzhou {
  color: #23b5e1;
}
.site_podcasts a:hover .icon-163 {
  color: #C20C0C;
}
.site_podcasts a:hover .icon-ximalaya {
  color: #fa2800;
}

.list-head {
  max-width: 864px;
  margin: 0 auto 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  max-width: 864px;
  margin: 0 auto 20px;
  background: #fff;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.item.featured {
  max-width: 980px;
}

.item_image {
  display: block;
  flex-shrink: 0;
  margin-right: 40px;
  width: 192px;
  height: fit-content;
}

.item_image img {
  width: 100%;
  border-radius: 4px;
}

.featured .item_image {
  width: 240px;
}

.item_wrap {
  overflow: hidden;
}

.item_meta {
  font: 500 12px/1.5 "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.item_label {
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.featured .item_label {
  display: inline-block;
  padding: 6px 12px;
  background-color: rgb(var(--rgb-primary));
  color: rgb(var(--rgb-wb));
}

.item_label > span + span:before {
  content: " | ";
}

.item_info h2 {
  margin: 0;
  line-height: 1.2;
}

.item_info h3 {
  margin: 6px 0 0;
  font-weight: 400;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5);
}

.item_info a {
  color: inherit;
  text-decoration: none;
}

.item_info a:hover {
  text-decoration: underline;
}

.item_summary {
  margin-top: 24px;
}

.navigation {
  text-align: center;
}

.enjoy button,
.navigation a {
  display: inline-block;
  padding: 8px 16px;
  font: 600 14px/1.5 "IBM Plex Sans", sans-serif;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: rgb(var(--rgb-wb));
  background-color: rgb(var(--rgb-primary));
  text-decoration: none;
}

.entry-foot {
  text-align: center;
  padding-bottom: 34px;
}
.enjoy button {
  border: 3px solid rgb(var(--rgb-primary));
  background: white;
  color:rgba(0, 0, 0, 0.85);
  cursor: pointer;
}
.enjoy button:disabled {
  cursor: not-allowed;
  color: rgb(var(--rgb-wb));
  background-color: rgb(var(--rgb-primary));
}
.enjoy button > i {
  margin-left: 4px;
  font-style: normal;
}

.navigation a:hover {
  color: rgb(var(--rgb-wb));
  opacity: 0.8;
  text-decoration: none;
}

.navigation a + a {
  margin-left: 20px;
}

.foot {
  font-size: 13px;
  padding: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.foot a {
  color: inherit;
}

.entry-head {
  display: flex;
  max-width: 980px;
  margin: 0 auto 24px;
}

.entry-section,
.entry-main {
  max-width: 980px;
  margin: 0 auto 20px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.entry-section > .inner {
  padding: 40px;
}

.entry-main > .e-content {
  padding: 60px 0;
}

.entry-main .e-content > * {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.e-content {
  line-height: 1.62;
}

.e-content a:hover {
  color: inherit;
  background-color: rgba(var(--rgb-primary), 0.4);
}

.e-content blockquote {
  position: relative;
  padding: 0.4em 0 0 2.2em;
  margin: 2em 0;
  font-size: 0.96em;
  border: 0;
}

.e-content blockquote:before {
  position: absolute;
  top: -4px;
  left: 0;
  content: "\201c";
  font: bold 62px/1 "Droid Serif", serif;
  color: rgba(0, 0, 0, 0.1);
}

.e-content hr {
  display: block;
  width: 80%;
  border: 0;
  border-top: 6px solid rgba(0, 0, 0, 0.08);
  margin: 1.42em auto 1.84em;
}

.block-table {
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
}
.block-table table {
  width: 100%;
  border-collapse: collapse;
}
.block-table th,
.block-table td {
  text-align: left;
  padding: 8px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.block-table th {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(var(--rgb-primary), 0.04);
}

.block-table td {
  vertical-align: top;
}

.block-table tr:nth-child(even) {
  background-color: rgba(var(--rgb-primary), 0.02);
}
.block-table tbody tr:last-child td {
  border-bottom: 0;
}

.entry-audio {
  margin-bottom: 34px;
}
.entry-audio .shk-player {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.entry-authors .p-author {
  display: flex;
  padding: 18px;
  background: rgba(0, 0, 0, .05);
  border-radius: 8px;
  margin: 6px 0;
}
.entry-authors .p-author + .p-author {
  margin-top: 1em;
}
.entry-authors .author_image {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  flex-shrink: 0;
}
.entry-authors .author_image img {
  border-radius: 50%;
}
.entry-authors .author_main {
  flex-grow: 1;
  font-size: 16px;
}
.entry-authors .author_meta .icon {
  vertical-align: middle;
}
.entry-authors .author_bio {
  margin-top: 5px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.entry-authors p {
  margin: 0;
}
.entry-speakers {
  display: flex;
  margin-top: 24px;
}
.entry-speakers a {
  display: inline-block;
}
.entry-speakers .host {
  margin-right: 2em;
}
.entry-speakers .author_type {
  margin-bottom: 14px;
}
.entry-speakers strong {
  border-bottom: 3px solid rgb(var(--rgb-primary));
  font-size: 14px;
  text-transform: uppercase;
}
.entry-speakers img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.entry-author a,
.entry-authors a,
.entry-speakers a {
  text-decoration: none;
  transition: opacity 0.2s ease;
}
.entry-author a:hover,
.entry-authors a:hover,
.entry-speakers a:hover {
  opacity: 0.8;
}

.entry-cover img {
  border-radius: 8px 8px 0 0;
}

@media (max-width: 960px) {
  .list-head {
    max-width: 100%;
    padding: 0 40px;
  }
  .list-head .p-author {
    background: none;
  }
  .item {
    max-width: 100%;
    border-radius: 0;
  }
  .item_wrap {
    flex-basis: 100%;
  }
  .item_image {
    display: none;
  }
  .site_nav {
    position: relative;
    flex-direction: row-reverse;
  }
  .site_search {
    margin-right: 20px;
  }
  .site_nav > label {
    display: inline-block;
    padding: 4px 8px 1px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
  }
  .site_nav > nav {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    padding: 10px 24px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  }
  .site_nav input:checked + nav {
    display: block;
  }
  .site_nav a {
    display: block;
    font-weight: 500;
  }
  .site_nav a + a {
    margin: 6px 0 0;
  }
  .entry-head {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 698px) {
  .item {
    padding: 40px 20px;
  }
  .list-head {
    padding: 0 20px;
  }
  .entry-main .e-content > * {
    padding-left: 16px;
    padding-right: 16px;
  }
  .entry-main .e-content > .block-table {
    padding-left: 0;
    padding-right: 0;
  }
}
